@import "colors/gruvbox-material.css";

* {
    all: unset;
    font-family: "Iosevka Nerd Font Propo", monospace;
}

window#waybar {
    background-color: @bg0;
    color: @fg;
    border-radius: 0 0 10px 10px;
}

#workspaces {
    min-width: 100px;
    font-size: 0.4rem;
    padding: 2px 4px;
    margin: 11px 0;
    border-radius: 99px;
}

@import "colors/gruvbox-material.css";

* {
    all: unset;
    font-family: "Iosevka Nerd Font Propo", monospace;
}

window#waybar {
    background-color: @bg0;
    color: @fg;
    border-radius: 0 0 10px 10px;
}

#workspaces {
    min-width: 100px;
    font-size: 0.4rem;
    padding: 2px 4px;
    margin: 11px 0;
    border-radius: 99px;
}